.item{
    text-align: center;
}
.status{
    display: flex;
    width: 10px;
    height: 10px;
    /* border: 2px solid green; */
    border-radius: 5px;
    background-color: greenyellow;
z-index: 5;
position: absolute;
}
.avatar{}
.name{}
