.friendList{
    max-width: 300px;
    display: flex;
    background-color: beige;
    justify-content: space-around;
    margin-left: auto;margin-right: auto;
    margin-top: 10px;
    padding: 10px;
}